Repository hmcts/div-decree-absolute-frontend, pull requests merged in 2019-08, with the labels that each got.

#60 DIV-4001 - Upgrade to the latest nodejs version
  .nvmrc
  Dockerfile
  Jenkinsfile_CNP
  package.json
  yarn.lock
Labels: ns:div-da-pr-60

#57 DIV-5382: Separated Petitioner & Respondent journeys
  common/steps/progress-bar/ProgressBar.step.js
  config/default.yml
  steps/entry/Entry.step.js
  steps/petitioner/apply-for-da/ApplyForDecreeAbsolute.step.js
  steps/petitioner/progress-bar/PetitionerProgressBar.content.json
  steps/petitioner/progress-bar/PetitionerProgressBar.html
  steps/petitioner/progress-bar/PetitionerProgressBar.step.js
  steps/petitioner/progress-bar/ProgressBar.step.js
  steps/respondent/progress-bar/RespondentProgressBar.content.json
  steps/respondent/progress-bar/RespondentProgressBar.html
  steps/respondent/progress-bar/RespondentProgressBar.step.js
  steps/respondent/progress-bar/sections/DivorceGranted.html
  steps/respondent/progress-bar/sections/DivorceRequested.html
  steps/respondent/progress-bar/sections/FourCirclesFilledIn.html
  steps/respondent/progress-bar/sections/ThreeCirclesFilledIn.html
  steps/respondent/progress-bar/stateTemplates.js
  test/functional/pages/applyForDecreeAbsolute.js
  test/functional/pages/exit.step.js
  test/functional/pages/idam.step.js
  test/functional/pages/petitionerProgressBar.js
  test/functional/pages/progressBar.js
  test/functional/pages/respondentProgressBar.js
  test/functional/paths/petitionerPages.js
  test/functional/paths/respondentPages.js
  test/unit/services/googleAnalytics.test.js
  test/unit/steps/common/authenicated.test.js
  test/unit/steps/common/contactDivorceTeamError.test.js
  test/unit/steps/common/cookiesPolicy.test.js
  test/unit/steps/common/done.test.js
  test/unit/steps/common/entry.test.js
  test/unit/steps/common/exit.test.js
  test/unit/steps/common/index.test.js
  test/unit/steps/common/privacyPolicy.test.js
  test/unit/steps/common/termsAndConditions.test.js
  test/unit/steps/petitioner/applyForDecreeAbsolute.test.js
  test/unit/steps/respondent/progressBar.test.js
  views/progress-bar.njk
Labels: ns:div-da-pr-57

#65 Upgraded Helm chart requirements to use hmctspublic
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  charts/div-da/Chart.yaml
  charts/div-da/requirements.yaml
  charts/div-da/values.preview.template.yaml
Labels: ns:div-da-pr-65

#66 Fix `"<th>" tags should have "id" or "scope" attributes` issue by sonar
  steps/cookies-policy/CookiesPolicy.html
Labels: ns:div-da-pr-66
